server:
  port: ${SERVER_PORT:8082}
spring:
  rabbitmq:
    port: 5672
    username: myuser
    password: secret
    host: ${RABBITMQ_HOST:localhost}
  cloud:
    openfeign:
      client:
        config:
          auth-service:
            connect-timeout: 5000
            read-timeout: 5000
            logger-level: full
  mail:
    host: smtp.gmail.com
    port: 587
    username: filipefranca876@gmail.com
    password: ${GMAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  application:
    name: application-service
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:novalocacoes}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:281004}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

springdoc:
  show-actuator: false
  swagger-ui:
    path: /swagger-ui.html
    url: /api/v3/api-docs
    config-url: /api/v3/api-docs/swagger-config
    urls[0].url: /api/v3/api-docs
    urls[0].name: API Docs
  api-docs:
    path: /api/v3/api-docs

services:
  admin:
    email: ${ADMIN_EMAIL:filipefranca876@gmail.com}

admin:
  email: ${ADMIN_EMAIL:admin@infinitysolutions.com}
  senha: ${ADMIN_SENHA:admin123}
  usuario-id: 00000000-0000-0000-0000-000000000001
jwt:
  public-key: classpath:publicKey.pem
  private-key: classpath:privateKey.pem
  expiracao-segundos: ${AUTH_JWT_TEMPO_EXPIRACAO:3600}
broker:
  exchange:
    name: relatorio.fanout.exchange
  queue:
    name: relatorio.queue